@import 'tailwindcss';
@plugin 'daisyui';
@plugin 'daisyui/theme' {
	name: caramellatte;
	default: true;
	prefersdark: false;
	color-scheme: light;

	--color-primary: #3d6b5e;
	--color-primary-content: #f2f2f2;
	--color-secondary: #4d6666;
	--color-secondary-content: #f2f2f2;

	--color-neutral: #001534;
	--color-neutral-content: #fafafa;

	--color-accent: #d47b63;
	--color-accent-content: #f2f2f2;

	--color-neutral: #5a4d47;
	--color-neutral-content: #f2f2f2;

	--color-warning: #b8873d;
	--color-warning-content: #f2f2f2;
	--color-info: #4a6b7a;
	--color-info-content: #f2f2f2;
	--color-success: #5a6e38;
	--color-success-content: #fafafa;
	--color-error: #a55744;
	--color-error-content: #fafafa;

	--color-base-100: #f5f1e8;
	--color-base-200: #e8e0d0;
	--color-base-300: #d8cfc0;
	--color-base-content: #2d2520;
}

@theme {
	--font-body: 'Quicksand Variable', sans-serif;
	--color-base-nav: #3d3935;
}

@layer base {
	body {
		font-family: 'Quicksand Variable', sans-serif;
	}

	/* Source: https://css-loaders.com/nature/ */

	.custom-loader {
		width: 4rem;
		height: 2rem;
		border-radius: 5rem 5rem 0 0;
		position: relative;
		overflow: hidden;
	}

	.custom-loader:before {
		content: '';
		position: absolute;
		inset: 0 0 -100%;
		background:
			radial-gradient(farthest-side, #ffd738 80%, #0000) left 70% top 20%/0.75rem 0.75rem,
			radial-gradient(farthest-side, #020308 92%, #0000) left 65% bottom 19%/0.6rem 0.6rem,
			radial-gradient(farthest-side, #ecfefe 92%, #0000) left 70% bottom 20%/0.75rem 0.75rem,
			linear-gradient(#9eddfe 50%, #020308 0);
		background-repeat: no-repeat;
		animation: l5 2s infinite;
	}

	@keyframes l5 {
		0%,
		20% {
			transform: rotate(0);
		}
		40%,
		60% {
			transform: rotate(0.5turn);
		}
		80%,
		100% {
			transform: rotate(1turn);
		}
	}

	/* quicksand-latin-wght-normal */
	@font-face {
		font-family: 'Quicksand Variable';
		font-style: normal;
		font-display: swap;
		font-weight: 300 700;
		src: url(@fontsource-variable/quicksand/files/quicksand-latin-wght-normal.woff2)
			format('woff2-variations');
		unicode-range:
			U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
			U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}
}
